<div class="container">
    <div class="component">
        <h1>Our Team</h1>
        <div class="center-elements">
            <div class="line"></div>
        </div>
        <ul class="align">
            <li>
                <figure class='book'>
                    <!-- Front -->
                    <ul class='hardcover_front'>
                        <li>
                            <div class="coverDesign yellow">
                                <h3>Pavlina</h3>
                                <p>Momchilova</p>
                            </div>
                        </li>
                        <li></li>
                    </ul>
                    <!-- Pages -->
                    <ul class='page'>
                        <li></li>
                        <li>
                            <div class="pics-about-us" id="pufi"></div>
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <!-- Back -->
                    <ul class='hardcover_back'>
                        <li></li>
                        <li></li>
                    </ul>
                    <ul class='book_spine'>
                        <li></li>
                        <li></li>
                    </ul>
                    <figcaption>
                        <p>I'm student at  St. Cyril and St. Methodius University of Veliko Tarnovo for 4 years. Curently i'm also a student in Telerik Academy. I love to code! </p>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure class='book'>
                    <!-- Front -->
                    <ul class='hardcover_front'>
                        <li>
                            <div class="coverDesign yellow">
                                <h3>Miroslav</h3>
                                <p>Hristov</p>
                            </div>
                        </li>
                        <li></li>
                    </ul>
                    <!-- Pages -->
                    <ul class='page'>
                        <li></li>
                        <li>
                            <div class="pics-about-us" id="miro"></div>
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <!-- Back -->
                    <ul class='hardcover_back'>
                        <li></li>
                        <li></li>
                    </ul>
                    <ul class='book_spine'>
                        <li></li>
                        <li></li>
                    </ul>
                    <figcaption>
                        <p>I'm student at  St. Cyril and St. Methodius University of Veliko Tarnovo for 4 years. Curently i'm also a student in Telerik Academy. I love to code! </p>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure class='book'>
                    <!-- Front -->
                    <ul class='hardcover_front'>
                        <li>
                            <div class="coverDesign yellow">
                                <h3>Rostislav</h3>
                                <p>Kazarin</p>
                            </div>
                        </li>
                        <li></li>
                    </ul>
                    <!-- Pages -->
                    <ul class='page'>
                        <li></li>
                        <li>
                            <div class="pics-about-us" id="rostik"></div>
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <!-- Back -->
                    <ul class='hardcover_back'>
                        <li></li>
                        <li></li>
                    </ul>
                    <ul class='book_spine'>
                        <li></li>
                        <li></li>
                    </ul>
                    <figcaption>
                        <p>I'm student at  St. Cyril and St. Methodius University of Veliko Tarnovo for 4 years. Curently i'm also a student in Telerik Academy. I love to code! </p>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
</div><!-- /container -->
