<div class="svg-text">
    <svg class="movingText" viewBox="0 0 1500 500">

        <!-- Symbol -->
        <symbol id="s-text">
            <text text-anchor="middle"
                  x="50%" y="50%" dy=".35em">
                Code for Fun
            </text>
        </symbol>

        <!-- Duplicate symbols -->
        <use xlink:href="#s-text" class="text"></use>
        <use xlink:href="#s-text" class="text"></use>
        <use xlink:href="#s-text" class="text"></use>
        <use xlink:href="#s-text" class="text"></use>
        <use xlink:href="#s-text" class="text"></use>

    </svg>
</div>
<!--<span class="blank-space hidden-xs"></span>
<div class="information"></div>
<span class="blank-space hidden-xs"></span>
<div class="information"></div>
<span class="blank-space hidden-xs"></span>
<div class="information"></div>
<span class="blank-space hidden-xs"></span>
<span class="blank-space hidden-xs"></span>
<div class="text-information">Lorem ipsumtrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</div>
<span class="blank-space hidden-xs"></span>
<div class="text-information">Lorem ipsumtrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</div>
<span class="blank-space hidden-xs"></span>
<div class="text-information">Lorem ipsumtrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</div>
<span class="blank-space hidden-xs"></span>-->
<span class="blank-space hidden-xs"></span>
<div class="text-information">
    <div class="information"></div>
    <div class="text-information">Lorem ipsumtrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</div>
</div>
<span class="blank-space hidden-xs"></span>
<div class="text-information">
    <div class="information"></div>
    <div class="text-information">Lorem ipsumtrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</div>
</div>
<span class="blank-space hidden-xs"></span>
<div class="text-information">
    <div class="information"></div>
    <div class="text-information">Lorem ipsumtrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</div>
</div>