<div class="svg-text">
    <svg class="movingText" viewBox="0 0 1500 500">

        <!-- Symbol -->
        <symbol id="s-text">
            <text text-anchor="middle"
                  x="50%" y="50%" dy=".35em">
                Code for Fun
            </text>
        </symbol>

        <!-- Duplicate symbols -->
        <use xlink:href="#s-text" class="text"></use>
        <use xlink:href="#s-text" class="text"></use>
        <use xlink:href="#s-text" class="text"></use>
        <use xlink:href="#s-text" class="text"></use>
        <use xlink:href="#s-text" class="text"></use>

    </svg>
</div>
<div class="thoughts">  The future is created by what you did { TODAY } not TOMORROW! </div>
<div class="center-elements">
    <div class="line"></div>
</div>
<span class="blank-space hidden-xs"></span>
<div class="text-information">
    <div class="information" id="group-project-img"></div>
    <div class="text-information">You are motivated person. You want to create something beautiful and interesting. You want to do something meaningful with your life. But your environment doesn't have your interests.</div>
</div>
<span class="blank-space hidden-xs"></span>
<div class="text-information">
    <div class="information" id="find-group-project-img"></div>
    <div class="text-information">
    <br />
    We give you place full with motivated people. Where you can create your own idea, to contribute to other people ideas and to gain some respect.</div>
</div>
<span class="blank-space hidden-xs"></span>
<div class="text-information">
    <div class="information" id="find-work-img"></div>
    <div class="text-information"><br />
    If you want to start an awesome job as a programmer nobody is going to hire you up unless you have created some projects. 
    <span class="important-words">So come on board and start coding for fun!</span></div>
</div>