<div>
    <div>
        <section>
            <img src="http://www.pd4pic.com/images/flat-user-profile-person-theme-icon.png" />
            <p>
                First name: {{firstName}}
            </p>
            <p>
                Last name: {{lastName}}
            </p>
            <p>
                Email: {{email}}
            </p>
            <p>
                User name: {{userName}}
            </p>
        </section>
    </div>
</div>
<script src="Scripts/formFieldsJavaScript/classieFields.js"></script>
<script src="Scripts/formFieldsJavaScript/textFieldJS.js"></script>