<div class="form-inline col-md-6" id="container-register">
    <div class="container">
        <section class="content bgcolor-10">
            <h2>Register</h2>
            <span class="input input--shoko">
                <input class="input__field input__field--shoko" type="text" id="tb-reg-firstname" />
                <label class="input__label input__label--shoko" for="tb-reg-firstname">
                    <span class="input__label-content input__label-content--shoko">First name</span>
                </label>
                <svg class="graphic graphic--shoko" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                    <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0" />
                    <path d="M0,2.5c0,0,298.666,0,399.333,0C448.336,2.5,513.994,13,597,13c77.327,0,135-10.5,200.999-10.5c95.996,0,402.001,0,402.001,0" />
                </svg>
            </span>
            <span class="input input--shoko">
                <input class="input__field input__field--shoko" type="text" id="tb-reg-lastname" />
                <label class="input__label input__label--shoko" for="tb-reg-lastname">
                    <span class="input__label-content input__label-content--shoko">Last name</span>
                </label>
                <svg class="graphic graphic--shoko" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                    <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0" />
                    <path d="M0,2.5c0,0,298.666,0,399.333,0C448.336,2.5,513.994,13,597,13c77.327,0,135-10.5,200.999-10.5c95.996,0,402.001,0,402.001,0" />
                </svg>
            </span>
            <span class="input input--shoko">
                <input class="input__field input__field--shoko" type="email" id="tb-reg-email" />
                <label class="input__label input__label--shoko" for="tb-reg-email">
                    <span class="input__label-content input__label-content--shoko">E-mail</span>
                </label>
                <svg class="graphic graphic--shoko" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                    <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0" />
                    <path d="M0,2.5c0,0,298.666,0,399.333,0C448.336,2.5,513.994,13,597,13c77.327,0,135-10.5,200.999-10.5c95.996,0,402.001,0,402.001,0" />
                </svg>
            </span>
            <span class="input input--shoko">
                <input class="input__field input__field--shoko" type="password" id="tb-reg-password" />
                <label class="input__label input__label--shoko" for="tb-reg-password">
                    <span class="input__label-content input__label-content--shoko">Password</span>
                </label>
                <svg class="graphic graphic--shoko" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                    <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0" />
                    <path d="M0,2.5c0,0,298.666,0,399.333,0C448.336,2.5,513.994,13,597,13c77.327,0,135-10.5,200.999-10.5c95.996,0,402.001,0,402.001,0" />
                </svg>
            </span>
            <span class="input input--shoko">
                <input class="input__field input__field--shoko" type="password" id="tb-reg-confirmPassword" />
                <label class="input__label input__label--shoko" for="tb-reg-confirmPassword">
                    <span class="input__label-content input__label-content--shoko">Confirm password</span>
                </label>
                <svg class="graphic graphic--shoko" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                    <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0" />
                    <path d="M0,2.5c0,0,298.666,0,399.333,0C448.336,2.5,513.994,13,597,13c77.327,0,135-10.5,200.999-10.5c95.996,0,402.001,0,402.001,0" />
                </svg>
            </span>
            <button class="btn btn-default" id="btn-register">Register</button>
        </section>
    </div>
</div>
<script src="Scripts/formFieldsJavaScript/classieFields.js"></script>
<script src="Scripts/formFieldsJavaScript/textFieldJS.js"></script>
