<fieldset>
  <legend>Register a new User</legend>    
  <div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="tb-reg-username">First name:</label>
            <input type="text" class="form-control" id="tb-reg-firstname" />
        </div>

        <div class="form-group">
            <label for="tb-reg-username">Last name:</label>
            <input type="text" class="form-control" id="tb-reg-lastname" />
        </div>

        <div class="form-group">
            <label for="tb-reg-username">Email:</label>
            <input type="text" class="form-control" id="tb-reg-email" />
        </div>

        <div class="form-group">
            <label for="tb-reg-username">Password:</label>
            <input type="text" class="form-control" id="tb-reg-password" />
        </div>

        <div class="form-group">
            <label for="tb-reg-username">Confirm password:</label>
            <input type="text" class="form-control" id="tb-reg-confirmPassword" />
        </div>
        <button class="btn btn-default" id="btn-register">Register</a>
    </div>
  </div>
</fieldset>
