<div class="form-inline col-md-6" id="container-sign-in">
    <div class="form-group">
        <label class="sr-only" for="tb-username">Username</label>
        <input type="text" class="form-control" id="tb-username" placeholder="Username">
    </div>
    <div class="form-group">
        <label class="sr-only" for="tb-password">Password</label>
        <input type="password" class="form-control" id="tb-password" placeholder="Password">
    </div>
    <button id="btn-sign-in" class="btn btn-default">Sign in</button>
</div>